body {

  font-family: 'Asap', sans-serif; 
  color:white ;
  background: -webkit-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  background: -o-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  background: -ms-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  background: -moz-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  background: linear-gradient(to right, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);

  padding-left:32px;
  padding-right:32px;

  
}


.animated_test1{
  transition-duration: 1.3s ;
  transition-timing-function: ease;
  
}
  
.animated_test2{
      transition-duration: 0.9s ;
      transition-timing-function: ease;
      
}
  